header {
    background-color: lightsteelblue;
    color: navy;
    text-align: center;
    padding: 2px;
    grid-area: header;
}

#logo {
    width: 16%;
    margin: 0px;
    padding: 2cm;
    font-family: "Mukta";
    font-weight: bolder;
}

.navbutton {
    color: navy;
    text-decoration: none;
    padding: 12px;
    border: 1.5px solid rgb(212, 218, 224);
    border-radius: 10%;
    font-weight: bold;
    text-align: center;
}

#menu {
    grid-area: menu;
    background-color: lightsteelblue;
}

nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#nav-ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    text-align: right;
}

#nav-ul > li {
    padding: 6px;
    margin: 5px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

#main-content {
    grid-area: main;
}

footer {
    padding: 16px;
    background-color: lightsteelblue;
    color: navy;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}
